In [49]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [50]:
index1 = [1,2,3]
names = ['majed','naif','khalid']
data =pd.Series(names,index1)
data

1     majed
2      naif
3    khalid
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [51]:
data.index = [11,12,13]
data

11     majed
12      naif
13    khalid
dtype: object

## Q3: Retrieve First and second elements.

In [52]:
data[0:2]

11    majed
12     naif
dtype: object

## Q4: Add duplicate elements, then remove the duplication.

In [53]:
data = data.append(pd.Series(['majed','naif'],[14,15]))
data = data.drop_duplicates()
data

/var/folders/tb/fw_49hkd2vl1gfskxm71_9xh0000gn/T/ipykernel_35405/505050709.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.Series(['majed','naif'],[14,15]))

11     majed
12      naif
13    khalid
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [54]:
data = {
    'ID': [1, 2, 3],
    'Name': ['majed', 'naif', 'khalid'],
    'GPA': [3.8, 3.5, 3.62]
}

students_df = pd.DataFrame(data)
students_df

   ID    Name   GPA
0   1   majed  3.80
1   2    naif  3.50
2   3  khalid  3.62

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [55]:
DF = pd.read_csv('/Users/majed-abdulkareem/Desktop/Lec/Lectures/6-pandas/educ_figdp_1_Data.csv')
DF.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [84]:
names = ['majed', 'naif', 'khalid']

example = pd.Series(names)

# Using loc
print("Using loc:")
print(example.loc[0:2])  # loc includes both start and end index

# Using slicing
print("\nUsing slicing:")
print(example[0:2])  # slicing excludes the end index

Using loc:
0     majed
1      naif
2    khalid
dtype: object

Using slicing:
0    majed
1     naif
dtype: object